appdirs==1.4.4
click==8.0.4
dataclasses==0.8
distro==1.9.0
Flask==2.0.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
numpy==1.19.5
opencv-python==4.5.5.64
packaging==21.3
pkg_resources==0.0.0
platformdirs==2.4.0
pycuda==2021.1
pyparsing==3.1.4
pytools==2022.1.12
scikit-build==0.16.7
typing_extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
